@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap');

*{
 
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color:turquoise;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas{

    border: 5px solid darkblue;
}

.toolbox {
    width: 51rem;
    background-color: rebeccapurple;
    padding: 1rem;
    border: 4px solid blue;
    display: flex;
}

p{
    font-size: 1.4rem;
    color: rebeccapurple

}

a{
    text-decoration: none;
}

.toolbox > * {
    padding: 0 .5rem;
    font-size: 3.59rem;
    background-color: seashell;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 5rem;
    height: 5rem;
    margin: 3px;
}

.toolbox >*:last-child{
    margin-left: auto;
}
